nav {
    width: 1912px;
    height: 50px;
}
.about {
    width: 50px;
    height: 50px;
    float: left;
    line-height: 9px;
    text-align: center;
    position: relative;
    left: 9px;
}
.store {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 9px;
    position: absolute;
    left: 70px;
    top: 8px;
}
.gmail {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 9px;
    position: absolute;
    top: 8px;
    left: 1655px;
}
.images {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 9px;
    position: absolute;
    top: 8px;
    left: 1712px;
}
.app-icon {
    width: 50px;
    height: 50px;  
    position: absolute;
    top: 18px;
    left: 1775px;  
    color: rgb(34,34, 34);
}
.app-icon:hover {
    color: #000;
    text-decoration: none;
    cursor: text;
}
.app-icon a {
    text-decoration: none;
    color: grey;
}
.app-icon a:hover {
    color: #000;
}
.sign-in {
    position: absolute;
    top: 14px;
    left: 1815px; 
}
button {
    width: 72px;
    height: 30px;
    background-color: rgb(67,135,253);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #4285f4;
    outline: none;
    border-radius: 2px;
}
.google-img {
    position: absolute;
    left: 760px;
    top: 150px;
}
input {
    position: absolute;
    left: 660px;
    top: 370px;
    height: 35px;
    width: 600px;
    border: .5px solid #e4e4e4;
    border-radius: 2px;
    outline: none;
    background-color: transparent;
}
.google-search {
    position: absolute;
    left: 795px;
    top: 430px;
}
.google-search button {
    background-color: rgb(248, 248, 248);
    width: 150px;
    height: 30px;
    border: 1px solid #e4e4e4;
    color: grey;
}
.I-am-feeling {
    position: absolute;
    left: 975px;
    top: 430px;
}
.I-am-feeling button {
    background-color: rgb(248, 248, 248);
    width: 150px;
    height: 30px;
    border: 1px solid  #e4e4e4;
    color: grey;
}
footer {
    background-color: #f2f2f2;
    position: absolute;
    top: 892px;
    left: 0;
    width: 1912px;
    height: 42px;
    border: 1px solid #e4e4e4;
}
.advertising {
    float: left;
    width: 75px;
    height: 40px;
    position: relative;
    left: 35px;
}
.business {
    float: left;
    width: 75px;
    height: 40px;
    position: relative;
    left: 46px;
}
.privacy {
    float: left;
    width: 75px;
    height: 40px;
    position: relative;
    left: 1535px;
}
.terms {
    float: left;
    width: 75px;
    height: 40px;
    position: relative;
    left: 1535px;
}
.settings {
    float: left;
    width: 75px;
    height: 40px;
    position: relative;
    left: 1535px;
    top: 0;
}
h4 {
    text-decoration: none;
    font-size: 13px;
    color: #222;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
footer h4:hover {
    text-decoration: underline;
    cursor: pointer;
}
footer h4 {
    color: rgb(95, 99, 104);
}
footer .advertising h4 {
    color: red;
}

